.mt-15{
  margin-top: 15px;
}
.mt-30{
  margin-top: 30px;
}
.ml-5{
  margin-left: 5px;
}
.mr-5{
  margin-right: 5px;
}
.pl-5{
	padding-left: 5px;
}
.pr-5{
	padding-right: 5px;
}

.panel-title{
	display: inline-block;
}
span.fa-times-circle{
	float:right;
}
td span.label{
	cursor: pointer;
}
.sort_selected::after{
	content:'\f00c';
	font-family: FontAwesome;
	font-weight: normal;
	font-style : normal;
	margin: 0 0 0 10px;
	display: inline-block;
}